<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name="com.grg.spotify.presenation.com.grg.spotify.presentation.ui.AuthActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:launchMode="singleInstance"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.myspotify.authorization"
                    android:scheme="gssa" />
            </intent-filter>
        </activity>
    </application>

</manifest>